body {
    background-color: #efefef;
}
.swagger-ui .topbar {
    min-height: 100px;
    background-color: rgba(36, 71, 175, 0.857);
}
.swagger-ui .topbar-wrapper img {
    width: 100px;
    height: auto;
    border-radius: 15%;
    content: url('../img/logo.png');
}
.swagger-ui .opblock-body  {
    background-color: rgba(166, 182, 230, 0.857);
    /* color: white; */
}